.LoginBoxFrame{
	background-image: url(../Media/HorizontalFrame.png);
	height: 27px;
	width: 918px;
	margin-left: auto;
	margin-right: auto;
	/*border-style: solid;
	border-width: 1px;
	border-color: #000000;*/
	top: 0px;
}

.LoginBoxInnerframe{
	/*border-style: solid;
	border-color: #FFFFFF;
	border-width: 1px;*/
	margin: 5px 2px 2px 5px;
	position: absolute;
}

.txtInput {
	/*margin: 2px 3px 2px 3px;*/
	margin-left: 3px;
	margin-right: 3px;
	background-color: transparent;
	background-image: url(../Media/forms/BkgText.png);
    border: 0px solid #FF0000;
	width: 120px;
	height: 14px;
	font-size: smaller;
	float: left;
}

.lblInput{
	/*margin: 2px 3px 2px 3px;*/
	margin-left: 3px;
	margin-right: 3px;
	color: #000000;
	float: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: small;	
}

.btnSubmit{
	/*margin: 2px 3px 2px 3px;*/
	margin-left: 3px;
	margin-right: 3px;
	border: 0px solid #FF0000;
	background-color: transparent;
	width: 102px;
	height: 16px;
        background-image: url(../Media/forms/BkgButton.png);
        cursor: pointer;        
}

.errorMsg{
	font-size: smaller;
	/*margin: 2px 3px 2px 3px;*/
	margin-left: 3px;
	margin-right: 3px;
	background-color: transparent;
	border: 0px solid #000000;
	position: absolute;
	color: #555555;
	width: 300px;	
}
