.Post{
	position: relative;
	left: 70px;
	top: 20px;
	/*width: 550px;*/
	border-style: solid;
	border-color: #ddd;
	border-width: 1px;
	margin-bottom: 15px;
}

.PostTitle{
	position: absolute;	
	border-bottom: 1px solid #eee;
	/*width: 538px;*/
	padding: 6px;
	background-color: #f4f4f4;
/*	border-style: solid;
	border-color: black;
	border-width: 1px;*/
	float: left;
}

.innerTitle{
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: left;
	font-size: 14px;
	color: #aa2222;
	border-style: solid;
	/*border-color: black;*/
	border-width: 0px;
	width: 75%;
	/*make me look like a label */
	cursor: default;
	background-color: transparent;
}

.innerTitleEdit{
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: left;
	font-size: 14px;
	color: #aa2222;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	width: 75%;
}

.PostContent{
	/*border-style: solid;
	border-color: black;
	border-width: 1px;*/
	color: black;
	position: relative;
	padding-top: 18px;
	padding-bottom: 10px;
	top: 15px;
	margin: 10px 10px  10px 10px;
}

.innerContent {
	
	/*border-style: solid;
	border-color: black;
	border-width: 1px;*/
}

.PostDate{
	font-family: Arial, Helvetica, sans-serif;
	border-style: solid;
	border-width: 0px;
	color: #686C7A;
	cursor: default;
	background-color: transparent;
	
	font-size: small;
	float: left;
	margin: 0px 3px 0px 2px;
	width: 12.5%
}

.PostDateEdit{
	font-family: Arial, Helvetica, sans-serif;
	
	color: #686C7A;
		
	font-size: small;
	float: left;
	margin: 0px 3px 0px 2px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	width: 15%
}

/*-------------------Posts internos---------------*/
.innerPost{
	position: relative;
	border-style: solid;
	border-color: #ddd;
	border-width: 1px;
	margin-bottom: 15px;
	
	left: 0px;
}

.innerPost .PostTitle{
	padding: 2px;	
}

.innerPost .PostTitle .innerTitle{
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: left;
	font-size: 14px;
	color: #686C7A;
}

.innerInnerPost .PostTitle .innerTitle{
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-align: left;
	font-size: 14px;
	color: #686C7A;
}

table {
	position: relative;
	left: 0px;
}
