#toolbox{
	/*position: absolute;*/
	float: right;
	/*background-color: none;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	height: 20px;*/
}

#add, #edit, #del{	
	border: 0px solid #FF0000;
	background-color: transparent;
	cursor: pointer;
	height: 16px;
	width: 16px;
	
}

#add{ background-image: url('../Media/page_white_add.png'); }

#edit{ background-image: url('../Media/page_white_edit.png'); }

#del{ background-image: url('../Media/page_white_delete.png'); }