.WidgetListLeft{
	background-color: transparent;
	/*border-style: solid;
	border-color: #CCCCCC;
	border-width: 1px;*/
	position: absolute;
	/*IE*/
	left: 25px;
	top: 145px;
	/*Firefox
	left: 75px
	top: 200px;*/
	width: 350px;
	height: 370px;
}

.WidgetListRight{
	background-color: transparent;
	/*border-style: solid;
	border-color: #CCCCCC;
	border-width: 1px;*/
	position: absolute;
	/*IE*/
	right: 25px;
	top: 145px;
	/*Firefox
	right: 75px
	top: 200px;*/
	width: 350px;
	height: 370px;
}

.WidgetLeft{
	background-image: url(../Media/widgets/WidgetBkgLeft.png);	
	border-style: solid;
	border-color: #aa2222;
	border-width: 1px;
	position: relative;
	/*padding: 5px 5px 5px 5px;*/
	left: 0px;
	top: 0px;
	float: left;
	height: 170px;
	width: 340px;
	margin: 5px 0px 10px 0px;
}

.WidgetRight{
	background-image: url(../Media/widgets/WidgetBkgRight.png);
	border-style: solid;
	border-color: #aa2222;
	border-width: 1px;
	position: relative;
	/*padding: 5px 5px 5px 5px;*/
	right: 0px;
	float: right;
	top: 0px;
	height: 170px;
	width: 340px;
	margin: 5px 0px 10px 0px;
}

.WidgetTitle{	
	position: relative;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: smaller;
	/*left: 3px;
	top: 3px;*/
	width: 340px;
	height: 25px;
	/*margin: 2px 2px 2px 2px;*/
	}

.WidgetContent{
	color: #000000;
	position: relative;
	top: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: smaller;
	text-align: left;
	padding: 2px 2px 2px 2px;
}

.Footer{
	position: absolute;
	text-align: right;
	text-decoration: none;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: smaller;
	font-weight: bold;
	bottom: 5px;
	right: 5px;
}

a{ color: #610d0d; }
a:hover { color: #850505; }

#TitleBlock {
	background-color: #b22627;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	font-size: 12pt;
	position:absolute;	
	height: 100%;
	width: 100%;
	/*border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;*/
}

#TitleBlock:hover{
	background-color: #a20404;
	text-decoration: underline;
}

#TitleText{
	position: absolute;
	top: 20%;
	left: 5%;
	color: white;
	/*border-style: solid;
	border-color: #FFFFFF;
	border-width: 1px;*/
}

/*
#p{	
	color: #000000;
	text-align: left;
}
*/
