.LoginBoxFrame{
	background-image: url(BkgLoginFrame.png);
	position: absolute;
	top: 3px;
	left: 3px;
	height: 20px;
	width: 310px;
}

.txtInput {
	/*background-color: #000000;*/
    border: 0px solid #FF0000;
	position: relative;
	top: 0px;
	left: 7px;	
	width: 114px;
	height: 14px;
	font-size: smaller;
}

.btnSubmit{
	border: 0px solid #FF0000;
	background-color: transparent;
	position: relative;
	top: 2px;
	left: 9px;
	width: 62px;
	height: 16px;
        background-image: url(BkgButton.png);
        cursor: pointer;        
}
.errorMsg{	
	background-color: transparent;
	border: 0px solid #000000;
	position: relative;
	color: #888888;
	top: 11px;
	left: 10px;
	width: 300px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: smaller;
}
