body {
	background-image: url(BkgPattern.png);
	color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

#fondoPrincipal{
	background-image: url(Background2.png);
	top: 0px;
	background-position-x: center;
	background-position-y: center;
	height: 600px;
	width: 800px;
}

#contenidoPrincipal{
	position: relative;
	background-color: transparent;
	border-color: #FFFFFF;
	border-style: solid;
	top: 60px;
	left: 410px;
	height: 430px;
	width: 330px;
}

#loginBox{
	background-color: transparent;
	border-color: #CCCCCC;
	border-style: solid;
	height: 30px;
	width: 315px;
	position: relative;
	top: 5px;
	left: 5px;
	text-align: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: smaller;
	vertical-align: top;
}

.TextBox {
    border: 0px solid #FF0000;
	width: 120px;
}
