body {
	background-image: url(BkgPattern.jpg);
	color: #FFFFFF;
	margin: 0px;
	padding: 0px;
}

#fondoPrincipal{
	background-image: url(Background3.png);
	top: 0px;
	background-position-x: center;
	background-position-y: center;
	height: 600px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#contenidoPrincipal{
	position: relative;
	background-color: transparent;
	/*border-color: #FFFFFF;
	border-style: solid;
	border-width: 1px;*/
	top: 50px;
	left: 50px;
	height: 450px;
	width: 430px;
}

#loginBox{
	background-image: url(HorizontalFrame.png);
	/*border-color: #000000;
	border-style: solid;*/
        border-width: 1px;
        border-spacing: 6px;
		border-width: 1px;
	height: 27px;
	width: 695px;
	position: absolute;
	top: 2px;
	left: 5px;
	text-align: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: smaller;
    /*vertical-align: top;*/
}

p{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #555555;
}
