.WidgetList{
	background-color: transparent;
	border-style: solid;
	border-color: #CCCCCC;
	position: relative;
	left: 5px;
	top: 10px;
	width: 315px;
	height: 370px;
}

.Widget{
	background-color: #CCCCCC;
	border-style: solid;
	border-color: #AAAAAA;
	position: relative;
	padding: 5px 5px 5px 5px;
}

.WidgetTitle{
	background-color: #AAAAAA;
	border-style: solid;
	border-color: #AAAAAA;
	position: relative;
	/*font-size: larger;*/
	color: #000000;
	font-weight: bolder;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	}

.WidgetContent{
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#p{
	color: #000000;
}
