table{
	color: black;
	background-color: transparent;
	font-family: Arial, Helvetica, sans-serif;
	border-color: #ddd;
}

table tr{
	color: black;
	background-color: transparent;
	font-family: Arial, Helvetica, sans-serif;	
}

table tr td {
	color: black;
	background-color: transparent;
	font-family: Arial, Helvetica, sans-serif;
	width: 80px;
	padding: 2px;
	text-align: center;
}

table th{
	color: black;
	background-color: #f4f4f4;
	font-family: Arial, Helvetica, sans-serif;
	padding: 3px;
}
